<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3" url="login.html">
    <title>fail page</title>
  </head>
  <body>
    <div align="center">
      <p> <h1 style="color:turquoise">This is designed by...<h1></p>
         <p><h1 style="color:darkblue"><marquee scrollamount="15"><strong>indal kumar yadav</strong></marquee></h1></p>
    <img align="middle" src="../Login/image/fail1.jpg"></img>
    <h1><b style="color:red">sorry!! your userid or password did not match<br>TRY AGAIN</b></h1>
  </div>
  </body>
</html>
