<!-- <!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Single Page App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    /*#display {
      border: 2px solid black;
      border-radius: 6px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      text-align: center;
    }*/

    .arrange {
      overflow: auto;
    }
  </style>
</head> -->

<body>
<script type="text/javascript" src="../js/local.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form class="well">

        <div class="arrange">
          <label for="usr">Email id:</label>
          <i class="glyphicon glyphicon-user"></i>
          <input type="text" id="email_id" class="form-control" placeholder="Email id" required><br><br>


          <label for="pwd">Password:</label>
          <i class="glyphicon glyphicon-lock"></i>
          <input type="password" id="password" class="form-control" placeholder="Password" required>
          <p id="d"></p><br>

          <!-- <input type="checkbox" id="rememberme" value="rememberme">
                <label for="rememberme">Remember Me</label><br><br> -->

          <button type="button" id="login1" class="btn btn-success">Submit</button>
          <button type="button" id="signup" class="btn btn-info" href="registrationform.html">SignUp</button>
        </div>

      </form>
    </div>
  </div>
</div>
</body>
<!-- </html>  -->
